@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #1a1f2e;
  --accent: #000000;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--accent);
}
